n8n-workflows/asistencia-zoom-diario.json
{
  "updatedAt": "2026-07-24T16:54:54.406Z",
  "createdAt": "2026-07-14T20:34:24.110Z",
  "id": "qKBCgp1zFa3qeZAB",
  "name": "asistencia-zoom-diario",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 0,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "azd-0001-0001-0001-000000000001",
      "name": "Schedule 00:00"
    },
    {
      "parameters": {
        "command": "cd \"C:\\Users\\EstudiantesJC\\downloads\\admin-usable\" && python scripts\\panel-datos\\sync_asistencia_supabase.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "azd-0001-0001-0001-000000000002",
      "name": "Ejecutar sync_asistencia_supabase"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "[OK] Sincronizacion completa",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "azd-0001-0001-0001-000000000003",
      "name": "¿Sync OK?"
    },
    {
      "parameters": {
        "command": "cd \"C:\\Users\\EstudiantesJC\\downloads\\admin-usable\" && python scripts\\panel-datos\\calcular_asistencia_promedio.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        672,
        -96
      ],
      "id": "azd-0001-0001-0001-000000000004",
      "name": "Ejecutar calcular_asistencia_promedio"
    },
    {
      "parameters": {
        "chatId": "8141703221",
        "text": "=❌ Error en asistencia-zoom-diario: sync_asistencia_supabase.py falló\n\n{{ ($json.stderr || $json.stdout || 'Sin detalle disponible.').slice(0, 400) }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        96
      ],
      "id": "azd-0001-0001-0001-000000000005",
      "name": "Error Sync",
      "credentials": {
        "telegramApi": {
          "id": "kGTAfWTTp4FATF66",
          "name": "Telegram Q10 Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "[OK] Sincronización completada",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        -96
      ],
      "id": "azd-0001-0001-0001-000000000006",
      "name": "¿Cálculo OK?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        -192
      ],
      "id": "azd-0001-0001-0001-000000000007",
      "name": "OK"
    },
    {
      "parameters": {
        "chatId": "8141703221",
        "text": "=❌ Error en asistencia-zoom-diario: calcular_asistencia_promedio.py falló\n\n{{ ($json.stderr || $json.stdout || 'Sin detalle disponible.').slice(0, 400) }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        0
      ],
      "id": "azd-0001-0001-0001-000000000008",
      "name": "Error Calculo",
      "credentials": {
        "telegramApi": {
          "id": "kGTAfWTTp4FATF66",
          "name": "Telegram Q10 Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule 00:00": {
      "main": [
        [
          {
            "node": "Ejecutar sync_asistencia_supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar sync_asistencia_supabase": {
      "main": [
        [
          {
            "node": "¿Sync OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Sync OK?": {
      "main": [
        [
          {
            "node": "Ejecutar calcular_asistencia_promedio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar calcular_asistencia_promedio": {
      "main": [
        [
          {
            "node": "¿Cálculo OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cálculo OK?": {
      "main": [
        [
          {
            "node": "OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Calculo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "8BL0kqnJDbyWMzpg"
  },
  "staticData": {
    "node:Schedule 00:00": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "efa71158-48bf-4af9-b262-7fbd32930b46",
  "activeVersionId": "efa71158-48bf-4af9-b262-7fbd32930b46",
  "versionCounter": 11,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-07-14T20:34:24.118Z",
      "createdAt": "2026-07-14T20:34:24.118Z",
      "role": "workflow:owner",
      "workflowId": "qKBCgp1zFa3qeZAB",
      "projectId": "sCDSlnWeaXfVGSdx",
      "project": {
        "updatedAt": "2026-06-18T19:33:43.567Z",
        "createdAt": "2026-06-18T17:26:43.451Z",
        "id": "sCDSlnWeaXfVGSdx",
        "name": "Samuel Rojas <soportejunior@tocaunavida.org>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c9975104-b757-4a51-ad4b-0461d1d32514"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-14T20:34:24.130Z",
    "createdAt": "2026-07-14T20:34:24.130Z",
    "versionId": "efa71158-48bf-4af9-b262-7fbd32930b46",
    "workflowId": "qKBCgp1zFa3qeZAB",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "days",
                "daysInterval": 1,
                "triggerAtHour": 0,
                "triggerAtMinute": 0
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "azd-0001-0001-0001-000000000001",
        "name": "Schedule 00:00"
      },
      {
        "parameters": {
          "command": "cd \"C:\\Users\\EstudiantesJC\\downloads\\admin-usable\" && python scripts\\panel-datos\\sync_asistencia_supabase.py"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          224,
          0
        ],
        "id": "azd-0001-0001-0001-000000000002",
        "name": "Ejecutar sync_asistencia_supabase"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.stdout }}",
                "rightValue": "[OK] Sincronizacion completa",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          448,
          0
        ],
        "id": "azd-0001-0001-0001-000000000003",
        "name": "¿Sync OK?"
      },
      {
        "parameters": {
          "command": "cd \"C:\\Users\\EstudiantesJC\\downloads\\admin-usable\" && python scripts\\panel-datos\\calcular_asistencia_promedio.py"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          672,
          -96
        ],
        "id": "azd-0001-0001-0001-000000000004",
        "name": "Ejecutar calcular_asistencia_promedio"
      },
      {
        "parameters": {
          "chatId": "8141703221",
          "text": "=❌ Error en asistencia-zoom-diario: sync_asistencia_supabase.py falló\n\n{{ ($json.stderr || $json.stdout || 'Sin detalle disponible.').slice(0, 400) }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          672,
          96
        ],
        "id": "azd-0001-0001-0001-000000000005",
        "name": "Error Sync",
        "credentials": {
          "telegramApi": {
            "id": "kGTAfWTTp4FATF66",
            "name": "Telegram Q10 Bot"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.stdout }}",
                "rightValue": "[OK] Sincronización completada",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          896,
          -96
        ],
        "id": "azd-0001-0001-0001-000000000006",
        "name": "¿Cálculo OK?"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1120,
          -192
        ],
        "id": "azd-0001-0001-0001-000000000007",
        "name": "OK"
      },
      {
        "parameters": {
          "chatId": "8141703221",
          "text": "=❌ Error en asistencia-zoom-diario: calcular_asistencia_promedio.py falló\n\n{{ ($json.stderr || $json.stdout || 'Sin detalle disponible.').slice(0, 400) }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1120,
          0
        ],
        "id": "azd-0001-0001-0001-000000000008",
        "name": "Error Calculo",
        "credentials": {
          "telegramApi": {
            "id": "kGTAfWTTp4FATF66",
            "name": "Telegram Q10 Bot"
          }
        }
      }
    ],
    "connections": {
      "Schedule 00:00": {
        "main": [
          [
            {
              "node": "Ejecutar sync_asistencia_supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ejecutar sync_asistencia_supabase": {
        "main": [
          [
            {
              "node": "¿Sync OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Sync OK?": {
        "main": [
          [
            {
              "node": "Ejecutar calcular_asistencia_promedio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Sync",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ejecutar calcular_asistencia_promedio": {
        "main": [
          [
            {
              "node": "¿Cálculo OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Cálculo OK?": {
        "main": [
          [
            {
              "node": "OK",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Calculo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Samuel Rojas",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-14T20:34:24.240Z",
        "id": 2061,
        "workflowId": "qKBCgp1zFa3qeZAB",
        "versionId": "efa71158-48bf-4af9-b262-7fbd32930b46",
        "event": "activated",
        "userId": "c9975104-b757-4a51-ad4b-0461d1d32514"
      },
      {
        "createdAt": "2026-07-24T16:54:54.478Z",
        "id": 2119,
        "workflowId": "qKBCgp1zFa3qeZAB",
        "versionId": "efa71158-48bf-4af9-b262-7fbd32930b46",
        "event": "activated",
        "userId": "c9975104-b757-4a51-ad4b-0461d1d32514"
      },
      {
        "createdAt": "2026-07-24T16:54:54.455Z",
        "id": 2118,
        "workflowId": "qKBCgp1zFa3qeZAB",
        "versionId": "efa71158-48bf-4af9-b262-7fbd32930b46",
        "event": "deactivated",
        "userId": "c9975104-b757-4a51-ad4b-0461d1d32514"
      }
    ]
  }
}