n8n-workflows/datos-respaldo-diario.json
{"updatedAt":"2026-07-24T16:28:39.583Z","createdAt":"2026-07-24T16:28:39.583Z","id":"GFGKNmNkQQ430iWP","name":"datos-respaldo-diario","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"15 8 * * *"}]}},"id":"drd-0001-4000-8000-000000000001","name":"Cron diario (8:15)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[260,300]},{"parameters":{"command":"cd C:/Users/EstudiantesJC/downloads/admin-usable/scripts/panel-datos && python respaldo_supabase.py"},"id":"drd-0002-4000-8000-000000000002","name":"Ejecutar respaldo_supabase","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[480,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-estado","leftValue":"={{ $json.stdout }}","rightValue":"estado=exito","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"drd-0003-4000-8000-000000000003","name":"¿Respaldo OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,300]},{"parameters":{},"id":"drd-0004-4000-8000-000000000004","name":"OK","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[940,200]},{"parameters":{"chatId":"8141703221","text":"={{ '⚠ respaldo_supabase (datos-respaldo-diario) fallo. Tail stdout:\\n' + (($('Ejecutar respaldo_supabase').item.json.stdout || '').slice(-800)) + '\\nstderr:\\n' + (($('Ejecutar respaldo_supabase').item.json.stderr || '').slice(-400)) }}","additionalFields":{"appendAttribution":false}},"id":"drd-0005-4000-8000-000000000005","name":"Notificar error","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[940,400],"credentials":{"telegramApi":{"id":"kGTAfWTTp4FATF66","name":"Telegram Q10 Bot"}}}],"connections":{"Cron diario (8:15)":{"main":[[{"node":"Ejecutar respaldo_supabase","type":"main","index":0}]]},"Ejecutar respaldo_supabase":{"main":[[{"node":"¿Respaldo OK?","type":"main","index":0}]]},"¿Respaldo OK?":{"main":[[{"node":"OK","type":"main","index":0}],[{"node":"Notificar error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Cron diario (8:15)":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"97d1b97f-cffa-4c17-953a-44024536684a","activeVersionId":"97d1b97f-cffa-4c17-953a-44024536684a","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-07-24T16:28:39.587Z","createdAt":"2026-07-24T16:28:39.587Z","role":"workflow:owner","workflowId":"GFGKNmNkQQ430iWP","projectId":"sCDSlnWeaXfVGSdx","project":{"updatedAt":"2026-06-18T19:33:43.567Z","createdAt":"2026-06-18T17:26:43.451Z","id":"sCDSlnWeaXfVGSdx","name":"Samuel Rojas <soportejunior@tocaunavida.org>","type":"personal","icon":null,"description":null,"creatorId":"c9975104-b757-4a51-ad4b-0461d1d32514"}}],"tags":[],"activeVersion":{"updatedAt":"2026-07-24T16:28:39.592Z","createdAt":"2026-07-24T16:28:39.592Z","versionId":"97d1b97f-cffa-4c17-953a-44024536684a","workflowId":"GFGKNmNkQQ430iWP","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"15 8 * * *"}]}},"id":"drd-0001-4000-8000-000000000001","name":"Cron diario (8:15)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[260,300]},{"parameters":{"command":"cd C:/Users/EstudiantesJC/downloads/admin-usable/scripts/panel-datos && python respaldo_supabase.py"},"id":"drd-0002-4000-8000-000000000002","name":"Ejecutar respaldo_supabase","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[480,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-estado","leftValue":"={{ $json.stdout }}","rightValue":"estado=exito","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"drd-0003-4000-8000-000000000003","name":"¿Respaldo OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,300]},{"parameters":{},"id":"drd-0004-4000-8000-000000000004","name":"OK","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[940,200]},{"parameters":{"chatId":"8141703221","text":"={{ '⚠ respaldo_supabase (datos-respaldo-diario) fallo. Tail stdout:\\n' + (($('Ejecutar respaldo_supabase').item.json.stdout || '').slice(-800)) + '\\nstderr:\\n' + (($('Ejecutar respaldo_supabase').item.json.stderr || '').slice(-400)) }}","additionalFields":{"appendAttribution":false}},"id":"drd-0005-4000-8000-000000000005","name":"Notificar error","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[940,400],"credentials":{"telegramApi":{"id":"kGTAfWTTp4FATF66","name":"Telegram Q10 Bot"}}}],"connections":{"Cron diario (8:15)":{"main":[[{"node":"Ejecutar respaldo_supabase","type":"main","index":0}]]},"Ejecutar respaldo_supabase":{"main":[[{"node":"¿Respaldo OK?","type":"main","index":0}]]},"¿Respaldo OK?":{"main":[[{"node":"OK","type":"main","index":0}],[{"node":"Notificar error","type":"main","index":0}]]}},"authors":"Samuel Rojas","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-07-24T16:28:46.775Z","id":2114,"workflowId":"GFGKNmNkQQ430iWP","versionId":"97d1b97f-cffa-4c17-953a-44024536684a","event":"activated","userId":"c9975104-b757-4a51-ad4b-0461d1d32514"}]}}