n8n-workflows/emoflow-ingresos-diario.json
{
  "name": "emoflow-ingresos-diario",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "triggerAtHour": 21, "triggerAtMinute": 30 } ] }
      },
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [50, 0],
      "id": "emoflow-diario-001",
      "name": "Diario 21:30 COT"
    },
    {
      "parameters": {
        "command": "cd C:/Users/EstudiantesJC/downloads/admin-usable/scripts/panel-datos && python extract_emoflow_ingresos_diario.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [250, 0],
      "id": "emoflow-diario-002",
      "name": "Ejecutar extract_emoflow_ingresos_diario"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "estado=exito",
              "operator": { "type": "string", "operation": "contains" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [450, 0],
      "id": "emoflow-diario-003",
      "name": "¿Extracción OK?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [650, 0],
      "id": "emoflow-diario-004",
      "name": "OK"
    },
    {
      "parameters": {
        "errorMessage": "=Extracción diaria de ingresos Emoflow falló. Salida: {{ $json.stdout }} {{ $json.stderr }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [650, 100],
      "id": "emoflow-diario-005",
      "name": "Error Extracción"
    }
  ],
  "connections": {
    "Diario 21:30 COT": [
      [ { "node": "Ejecutar extract_emoflow_ingresos_diario", "type": "main", "index": 0 } ]
    ],
    "Ejecutar extract_emoflow_ingresos_diario": [
      [ { "node": "¿Extracción OK?", "type": "main", "index": 0 } ]
    ],
    "¿Extracción OK?": [
      [ { "node": "OK", "type": "main", "index": 0 } ],
      [ { "node": "Error Extracción", "type": "main", "index": 0 } ]
    ]
  },
  "active": false,
  "settings": {}
}
