n8n-workflows/emoflow-agregados-4h.json
{
  "name": "emoflow-agregados-4h",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 0,
              "triggerAtMinute": 0
            },
            {
              "triggerAtHour": 4,
              "triggerAtMinute": 0
            },
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            },
            {
              "triggerAtHour": 12,
              "triggerAtMinute": 0
            },
            {
              "triggerAtHour": 16,
              "triggerAtMinute": 0
            },
            {
              "triggerAtHour": 20,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [50, 0],
      "id": "emoflow-agg-001",
      "name": "Cada 4 horas (00, 04, 08, 12, 16, 20 COT)"
    },
    {
      "parameters": {
        "command": "cd C:/Users/EstudiantesJC/downloads/admin-usable/scripts/panel-datos && python extract_emoflow_agregados.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [250, 0],
      "id": "emoflow-agg-002",
      "name": "Ejecutar extract_emoflow_agregados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "estado=exito",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [450, 0],
      "id": "emoflow-agg-003",
      "name": "¿Extracción OK?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [650, 0],
      "id": "emoflow-agg-004",
      "name": "OK"
    },
    {
      "parameters": {
        "errorMessage": "=Extracción de Emoflow agregados falló. Salida: {{ $json.stdout }} {{ $json.stderr }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [650, 100],
      "id": "emoflow-agg-005",
      "name": "Error Extracción"
    }
  ],
  "connections": {
    "Cada 4 horas (00, 04, 08, 12, 16, 20 COT)": [
      {
        "node": "Ejecutar extract_emoflow_agregados",
        "type": "main",
        "index": 0
      }
    ],
    "Ejecutar extract_emoflow_agregados": [
      {
        "node": "¿Extracción OK?",
        "type": "main",
        "index": 0
      }
    ],
    "¿Extracción OK?": [
      {
        "node": "OK",
        "type": "main",
        "index": 0
      },
      {
        "node": "Error Extracción",
        "type": "main",
        "index": 1
      }
    ]
  },
  "active": false,
  "nodeGroups": [],
  "pinData": {}
}
