n8n-workflows/emoflow-ingresos-diario.json
{
  "name": "emoflow-ingresos-diario",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "days", "daysInterval": 1, "triggerAtHour": 21, "triggerAtMinute": 30 } ] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "emoflow-diario-001",
      "name": "Schedule Diario 21:30"
    },
    {
      "parameters": {
        "command": "cd C:/Users/EstudiantesJC/downloads/admin-usable/scripts/panel-datos && python extract_emoflow_ingresos_diario.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [220, 0],
      "id": "emoflow-diario-002",
      "name": "Ejecutar extract_emoflow_ingresos_diario"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "estado=exito",
              "operator": { "type": "string", "operation": "contains" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0],
      "id": "emoflow-diario-003",
      "name": "¿Extracción OK?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, -100],
      "id": "emoflow-diario-004",
      "name": "OK"
    },
    {
      "parameters": {
        "errorMessage": "=Extracción diaria de ingresos Emoflow falló. Salida: {{ $json.stdout }} {{ $json.stderr }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [660, 100],
      "id": "emoflow-diario-005",
      "name": "Error Extracción"
    }
  ],
  "connections": {
    "Schedule Diario 21:30": {
      "main": [ [ { "node": "Ejecutar extract_emoflow_ingresos_diario", "type": "main", "index": 0 } ] ]
    },
    "Ejecutar extract_emoflow_ingresos_diario": {
      "main": [ [ { "node": "¿Extracción OK?", "type": "main", "index": 0 } ] ]
    },
    "¿Extracción OK?": {
      "main": [
        [ { "node": "OK", "type": "main", "index": 0 } ],
        [ { "node": "Error Extracción", "type": "main", "index": 0 } ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
