n8n-workflows/panel-verificacion-diaria.json
{"updatedAt":"2026-07-24T16:28:18.994Z","createdAt":"2026-07-24T16:28:18.994Z","id":"en36vJCa8vOCRViz","name":"panel-verificacion-diaria","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * *"}]}},"id":"pvd-0001-4000-8000-000000000001","name":"Cron diario (8:00)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[260,300]},{"parameters":{"command":"cd C:/Users/EstudiantesJC/downloads/admin-usable/scripts/panel-datos && python test_integridad_supabase.py --rapido"},"id":"pvd-0002-4000-8000-000000000002","name":"Ejecutar test_integridad_supabase","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[480,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-estado","leftValue":"={{ $json.stdout }}","rightValue":"estado=exito","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"pvd-0003-4000-8000-000000000003","name":"¿Integridad OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,300]},{"parameters":{},"id":"pvd-0004-4000-8000-000000000004","name":"OK","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[940,200]},{"parameters":{"chatId":"8141703221","text":"={{ '⚠ test_integridad_supabase (verificacion diaria) fallo. Tail stdout:\\n' + (($('Ejecutar test_integridad_supabase').item.json.stdout || '').slice(-800)) + '\\nstderr:\\n' + (($('Ejecutar test_integridad_supabase').item.json.stderr || '').slice(-400)) }}","additionalFields":{"appendAttribution":false}},"id":"pvd-0005-4000-8000-000000000005","name":"Notificar error","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[940,400],"credentials":{"telegramApi":{"id":"kGTAfWTTp4FATF66","name":"Telegram Q10 Bot"}}}],"connections":{"Cron diario (8:00)":{"main":[[{"node":"Ejecutar test_integridad_supabase","type":"main","index":0}]]},"Ejecutar test_integridad_supabase":{"main":[[{"node":"¿Integridad OK?","type":"main","index":0}]]},"¿Integridad OK?":{"main":[[{"node":"OK","type":"main","index":0}],[{"node":"Notificar error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Cron diario (8:00)":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"8498a6a4-8c0d-497e-8f0a-182a4b7ccdd4","activeVersionId":"8498a6a4-8c0d-497e-8f0a-182a4b7ccdd4","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-07-24T16:28:18.997Z","createdAt":"2026-07-24T16:28:18.997Z","role":"workflow:owner","workflowId":"en36vJCa8vOCRViz","projectId":"sCDSlnWeaXfVGSdx","project":{"updatedAt":"2026-06-18T19:33:43.567Z","createdAt":"2026-06-18T17:26:43.451Z","id":"sCDSlnWeaXfVGSdx","name":"Samuel Rojas <soportejunior@tocaunavida.org>","type":"personal","icon":null,"description":null,"creatorId":"c9975104-b757-4a51-ad4b-0461d1d32514"}}],"tags":[],"activeVersion":{"updatedAt":"2026-07-24T16:28:19.009Z","createdAt":"2026-07-24T16:28:19.009Z","versionId":"8498a6a4-8c0d-497e-8f0a-182a4b7ccdd4","workflowId":"en36vJCa8vOCRViz","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * *"}]}},"id":"pvd-0001-4000-8000-000000000001","name":"Cron diario (8:00)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[260,300]},{"parameters":{"command":"cd C:/Users/EstudiantesJC/downloads/admin-usable/scripts/panel-datos && python test_integridad_supabase.py --rapido"},"id":"pvd-0002-4000-8000-000000000002","name":"Ejecutar test_integridad_supabase","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[480,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-estado","leftValue":"={{ $json.stdout }}","rightValue":"estado=exito","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"pvd-0003-4000-8000-000000000003","name":"¿Integridad OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,300]},{"parameters":{},"id":"pvd-0004-4000-8000-000000000004","name":"OK","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[940,200]},{"parameters":{"chatId":"8141703221","text":"={{ '⚠ test_integridad_supabase (verificacion diaria) fallo. Tail stdout:\\n' + (($('Ejecutar test_integridad_supabase').item.json.stdout || '').slice(-800)) + '\\nstderr:\\n' + (($('Ejecutar test_integridad_supabase').item.json.stderr || '').slice(-400)) }}","additionalFields":{"appendAttribution":false}},"id":"pvd-0005-4000-8000-000000000005","name":"Notificar error","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[940,400],"credentials":{"telegramApi":{"id":"kGTAfWTTp4FATF66","name":"Telegram Q10 Bot"}}}],"connections":{"Cron diario (8:00)":{"main":[[{"node":"Ejecutar test_integridad_supabase","type":"main","index":0}]]},"Ejecutar test_integridad_supabase":{"main":[[{"node":"¿Integridad OK?","type":"main","index":0}]]},"¿Integridad OK?":{"main":[[{"node":"OK","type":"main","index":0}],[{"node":"Notificar error","type":"main","index":0}]]}},"authors":"Samuel Rojas","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-07-24T16:28:46.654Z","id":2113,"workflowId":"en36vJCa8vOCRViz","versionId":"8498a6a4-8c0d-497e-8f0a-182a4b7ccdd4","event":"activated","userId":"c9975104-b757-4a51-ad4b-0461d1d32514"}]}}