n8n-workflows/q10-sync-supabase.json
{
  "name": "q10-sync-supabase",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 9,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "q10sb-0001-0001-0001-000000000001",
      "name": "Schedule Diario 9:45"
    },
    {
      "parameters": {
        "command": "cd C:/Users/EstudiantesJC/downloads/admin-usable/scripts/panel-datos && python normalize_q10_data.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "q10sb-0001-0001-0001-000000000002",
      "name": "Ejecutar normalize_q10_data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "estado=exito",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "q10sb-0001-0001-0001-000000000003",
      "name": "¿Normalización OK?"
    },
    {
      "parameters": {
        "command": "cd C:/Users/EstudiantesJC/downloads/admin-usable/scripts/panel-datos && python cargar_supabase.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        672,
        -96
      ],
      "id": "q10sb-0001-0001-0001-000000000004",
      "name": "Ejecutar cargar_supabase"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "estado=exito",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        -96
      ],
      "id": "q10sb-0001-0001-0001-000000000005",
      "name": "¿Carga OK?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2016,
        -288
      ],
      "id": "q10sb-0001-0001-0001-000000000006",
      "name": "OK"
    },
    {
      "parameters": {
        "errorMessage": "=Normalización Q10→Supabase falló. Salida: {{ $json.stdout }} {{ $json.stderr }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        672,
        96
      ],
      "id": "q10sb-0001-0001-0001-000000000007",
      "name": "Error Normalización"
    },
    {
      "parameters": {
        "errorMessage": "=Carga a Supabase falló (o con advertencias FK). Salida: {{ $json.stdout }} {{ $json.stderr }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1120,
        0
      ],
      "id": "q10sb-0001-0001-0001-000000000008",
      "name": "Error Carga"
    },
    {
      "parameters": {
        "command": "cd C:/Users/EstudiantesJC/downloads/admin-usable/scripts/panel-datos && python sync_aprobacion_supabase.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        -192
      ],
      "id": "q10sb-0001-0001-0001-000000000009",
      "name": "Ejecutar sync_aprobacion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "estado=exito",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        -192
      ],
      "id": "q10sb-0001-0001-0001-000000000010",
      "name": "¿Aprobación OK?"
    },
    {
      "parameters": {
        "errorMessage": "=Sync de aprobación (832) a Supabase falló. Salida: {{ $json.stdout }} {{ $json.stderr }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1568,
        -96
      ],
      "id": "q10sb-0001-0001-0001-000000000011",
      "name": "Error Aprobación"
    },
    {
      "parameters": {
        "command": "cd C:/Users/EstudiantesJC/downloads/admin-usable/scripts/panel-datos && python sync_emoflow.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1568,
        -192
      ],
      "id": "q10sb-0001-0001-0001-000000000012",
      "name": "Ejecutar sync_emoflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "estado=exito",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        -192
      ],
      "id": "q10sb-0001-0001-0001-000000000013",
      "name": "¿Emoflow OK?"
    },
    {
      "parameters": {
        "errorMessage": "=Sync de Emoflow (ingresos al sistema) a Supabase falló. Salida: {{ $json.stdout }} {{ $json.stderr }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2016,
        -96
      ],
      "id": "q10sb-0001-0001-0001-000000000014",
      "name": "Error Emoflow"
    }
  ],
  "connections": {
    "Schedule Diario 9:45": {
      "main": [
        [
          {
            "node": "Ejecutar normalize_q10_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar normalize_q10_data": {
      "main": [
        [
          {
            "node": "¿Normalización OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Normalización OK?": {
      "main": [
        [
          {
            "node": "Ejecutar cargar_supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Normalización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar cargar_supabase": {
      "main": [
        [
          {
            "node": "¿Carga OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Carga OK?": {
      "main": [
        [
          {
            "node": "Ejecutar sync_aprobacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Carga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar sync_aprobacion": {
      "main": [
        [
          {
            "node": "¿Aprobación OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Aprobación OK?": {
      "main": [
        [
          {
            "node": "Ejecutar sync_emoflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Aprobación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar sync_emoflow": {
      "main": [
        [
          {
            "node": "¿Emoflow OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Emoflow OK?": {
      "main": [
        [
          {
            "node": "OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Emoflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/Bogota",
    "availableInMCP": false
  }
}