n8n-workflows/q10-consolidacion.json
{
  "name": "Bot Q10 - Actualizar Grupos",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Telegram Trigger",
      "webhookId": "7f3a2b1c-4d5e-6f70-8901-2b3c4d5e6f7a",
      "credentials": {
        "telegramApi": {
          "id": "kGTAfWTTp4FATF66",
          "name": "Telegram Q10 Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item.json.message || {};\nconst text = (msg.text || '').trim();\nconst chatId = msg.chat?.id;\n\nconst valido = /^\\/actualizar\\s+q10$/i.test(text);\n\nreturn [{ json: {\n  valido,\n  chat_id: chatId,\n  texto_original: text\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Parsear Comando"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-valido-001",
              "leftValue": "={{ $json.valido }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals", "rightType": "any" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300],
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Comando valido?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "No entiendo ese comando.\n\nUsa:\n/Actualizar Q10",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 460],
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Enviar Ayuda",
      "credentials": {
        "telegramApi": { "id": "kGTAfWTTp4FATF66", "name": "Telegram Q10 Bot" }
      }
    },
    {
      "parameters": {
        "command": "cd C:/Users/EstudiantesJC/Downloads/Admin-usable/scripts/q10-consolidacion && python q10_to_sheets.py --grupo h1test"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [660, 140],
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Ejecutar q10_to_sheets"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-exito-001",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 140],
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Exito Q10?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parsear Comando').first().json.chat_id }}",
        "text": "={{ (() => {\n  const stderr = $('Ejecutar q10_to_sheets').first().json.stderr || $('Ejecutar q10_to_sheets').first().json.stdout || 'Sin detalle disponible.';\n  return '\\u274C Error extrayendo datos de Q10\\n\\n' + stderr.slice(0, 400);\n})() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 320],
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Responder Error Q10",
      "credentials": {
        "telegramApi": { "id": "kGTAfWTTp4FATF66", "name": "Telegram Q10 Bot" }
      }
    },
    {
      "parameters": {
        "command": "cd C:/Users/EstudiantesJC/Downloads/Admin-usable/scripts/q10-consolidacion/organizador && python organizador_headless.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1120, 40],
      "id": "a1b2c3d4-0001-0001-0001-000000000013",
      "name": "Ejecutar organizador"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-org-001",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 40],
      "id": "a1b2c3d4-0001-0001-0001-000000000014",
      "name": "Exito Organizador?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parsear Comando').first().json.chat_id }}",
        "text": "={{ (() => {\n  const stderr = $('Ejecutar organizador').first().json.stderr || $('Ejecutar organizador').first().json.stdout || 'Sin detalle disponible.';\n  return '\\u274C Error en el organizador\\n\\n' + stderr.slice(0, 400);\n})() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 220],
      "id": "a1b2c3d4-0001-0001-0001-000000000015",
      "name": "Responder Error Organizador",
      "credentials": {
        "telegramApi": { "id": "kGTAfWTTp4FATF66", "name": "Telegram Q10 Bot" }
      }
    },
    {
      "parameters": {
        "command": "cd C:/Users/EstudiantesJC/Downloads/Admin-usable/scripts/q10-consolidacion && python export_stats.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1560, -80],
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Ejecutar export_stats"
    },
    {
      "parameters": {
        "command": "cd C:/Users/EstudiantesJC/Downloads/Admin-usable/scripts/q10-consolidacion && python export_avance.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1780, -80],
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "Ejecutar export_avance"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parsear Comando').first().json.chat_id }}",
        "text": "={{ (() => {\n  const stdoutQ10 = $('Ejecutar q10_to_sheets').first().json.stdout || '';\n  const stdoutOrg = $('Ejecutar organizador').first().json.stdout || '';\n  const mQ10 = stdoutQ10.match(/RESUMEN: grupo=\\S+ filas=(\\d+) estado=exito/);\n  const mOrg = stdoutOrg.match(/RESUMEN: cursos=(\\d+) estudiantes=(\\d+) habilitados=(\\d+) promedio=([\\d.]+)/);\n  const filasQ10    = mQ10 ? mQ10[1] : '?';\n  const cursos      = mOrg ? mOrg[1] : '?';\n  const estudiantes = mOrg ? mOrg[2] : '?';\n  const habilitados = mOrg ? mOrg[3] : '?';\n  const promedio    = mOrg ? mOrg[4] : '?';\n  const statsOk  = $('Ejecutar export_stats').first().json.exitCode === 0;\n  const avanceOk = $json.exitCode === 0;\n  const ok = (v) => v ? '\\u2705' : '\\u26A0\\uFE0F';\n  return '\\u2705 Q10 actualizado\\n\\n' +\n    '\\ud83d\\udce5 Filas Q10: ' + filasQ10 + '\\n' +\n    '\\ud83d\\udcca Cursos: ' + cursos + ' | Activos: ' + habilitados + ' | Total: ' + estudiantes + ' | Prom: ' + promedio + '%\\n' +\n    ok(statsOk) + ' Stats \\u2192 GitHub Pages\\n' +\n    ok(avanceOk) + ' Avance \\u2192 GitHub Pages\\n' +\n    '\\n\\ud83c\\udf10 fundacion-rofe.github.io/Estadisticas/dashboard/';\n})() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2000, -80],
      "id": "a1b2c3d4-0001-0001-0001-000000000012",
      "name": "Responder OK",
      "credentials": {
        "telegramApi": { "id": "kGTAfWTTp4FATF66", "name": "Telegram Q10 Bot" }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Parsear Comando", "type": "main", "index": 0 }]]
    },
    "Parsear Comando": {
      "main": [[{ "node": "Comando valido?", "type": "main", "index": 0 }]]
    },
    "Comando valido?": {
      "main": [
        [{ "node": "Ejecutar q10_to_sheets", "type": "main", "index": 0 }],
        [{ "node": "Enviar Ayuda",           "type": "main", "index": 0 }]
      ]
    },
    "Ejecutar q10_to_sheets": {
      "main": [[{ "node": "Exito Q10?", "type": "main", "index": 0 }]]
    },
    "Exito Q10?": {
      "main": [
        [{ "node": "Ejecutar organizador",  "type": "main", "index": 0 }],
        [{ "node": "Responder Error Q10",   "type": "main", "index": 0 }]
      ]
    },
    "Ejecutar organizador": {
      "main": [[{ "node": "Exito Organizador?", "type": "main", "index": 0 }]]
    },
    "Exito Organizador?": {
      "main": [
        [{ "node": "Ejecutar export_stats",       "type": "main", "index": 0 }],
        [{ "node": "Responder Error Organizador",  "type": "main", "index": 0 }]
      ]
    },
    "Ejecutar export_stats": {
      "main": [[{ "node": "Ejecutar export_avance", "type": "main", "index": 0 }]]
    },
    "Ejecutar export_avance": {
      "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "wf-q10-bot-001",
  "meta": {
    "instanceId": "local",
    "notes": "Workflow ID en producción: Rblg81qifVshsRae. Comando único: /Actualizar Q10 — corre el pipeline completo (Q10→H1Test→organizador→h2test→GitHub Pages)."
  }
}
