n8n-workflows/zoom-yt-grabaciones.json
{
  "name": "zoom-yt-grabaciones",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zoom-grabaciones",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "yt-node-0001-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "webhookId": "zoom-grabaciones"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-crc-001",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "endpoint.url_validation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "yt-node-0002-4000-8000-000000000002",
      "name": "Es validacion CRC?"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $json.body.payload.plainToken }}"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        448,
        -160
      ],
      "id": "yt-node-0003-4000-8000-000000000003",
      "name": "Hash CRC",
      "credentials": {
        "crypto": {
          "id": "J6gwIBkpDxHfEU92",
          "name": "Zoom Webhook HMAC Secret (real)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"plainToken\": $('Webhook Trigger').item.json.body.payload.plainToken, \"encryptedToken\": $json.data } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        -160
      ],
      "id": "yt-node-0004-4000-8000-000000000004",
      "name": "Responder CRC"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ 'v0:' + $json.headers['x-zm-request-timestamp'] + ':' + JSON.stringify($json.body) }}"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        448,
        160
      ],
      "id": "yt-node-0005-4000-8000-000000000005",
      "name": "Hash Firma Zoom",
      "credentials": {
        "crypto": {
          "id": "J6gwIBkpDxHfEU92",
          "name": "Zoom Webhook HMAC Secret (real)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-firma-001",
              "leftValue": "={{ 'v0=' + $json.data }}",
              "rightValue": "={{ $('Webhook Trigger').item.json.headers['x-zm-signature'] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        160
      ],
      "id": "yt-node-0006-4000-8000-000000000006",
      "name": "Firma valida?"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        32
      ],
      "id": "yt-node-0007-4000-8000-000000000007",
      "name": "Responder OK"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Firma invalida",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        320
      ],
      "id": "yt-node-0008-4000-8000-000000000008",
      "name": "Responder Firma Invalida"
    },
    {
      "parameters": {
        "command": "=cd /d C:\\Users\\EstudiantesJC\\downloads\\admin-usable && python scripts\\zoom-youtube\\subir_yt_grabacion.py --meeting-uuid \"{{ $('Webhook Trigger').item.json.body.payload.object.uuid }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        896,
        160
      ],
      "id": "yt-node-0009-4000-8000-000000000009",
      "name": "Execute Command: subir_yt_grabacion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ok-001",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "[OK]",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        160
      ],
      "id": "yt-node-0010-4000-8000-000000000010",
      "name": "Subida OK?"
    },
    {
      "parameters": {
        "chatId": "8141703221",
        "text": "=Grabaciones Zoom OK\n{{ $json.stdout.split('[OK]').pop().trim() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        -96
      ],
      "id": "yt-node-0011-4000-8000-000000000011",
      "name": "Telegram Exito",
      "webhookId": "07275bfd-8272-4f53-a6eb-c20b22f40485",
      "credentials": {
        "telegramApi": {
          "id": "kGTAfWTTp4FATF66",
          "name": "Telegram Q10 Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8141703221",
        "text": "=Grabaciones Zoom ERROR\n{{ $json.stdout }}\n{{ $json.stderr }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1856,
        336
      ],
      "id": "yt-node-0012-4000-8000-000000000012",
      "name": "Telegram Error",
      "webhookId": "143940ad-8f00-4bd2-aac0-b00c7afddc2f",
      "credentials": {
        "telegramApi": {
          "id": "kGTAfWTTp4FATF66",
          "name": "Telegram Q10 Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-skip-001",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "[SKIP]",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1344,
        320
      ],
      "id": "yt-node-0013-4000-8000-000000000013",
      "name": "Es SKIP?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1568,
        176
      ],
      "id": "yt-node-0014-4000-8000-000000000014",
      "name": "Ignorado (skip)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ev-1",
              "leftValue": "={{ $('Webhook Trigger').item.json.body.event }}",
              "rightValue": "recording.completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-ev-2",
              "leftValue": "={{ $('Webhook Trigger').item.json.body.event }}",
              "rightValue": "recording.transcript_completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        896,
        400
      ],
      "id": "yt-node-0015-4000-8000-000000000015",
      "name": "Evento con grabacion?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        480
      ],
      "id": "yt-node-0016-4000-8000-000000000016",
      "name": "Evento sin grabacion (ignorado)"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Es validacion CRC?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es validacion CRC?": {
      "main": [
        [
          {
            "node": "Hash CRC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hash Firma Zoom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash CRC": {
      "main": [
        [
          {
            "node": "Responder CRC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash Firma Zoom": {
      "main": [
        [
          {
            "node": "Firma valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firma valida?": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Evento con grabacion?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Firma Invalida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command: subir_yt_grabacion": {
      "main": [
        [
          {
            "node": "Subida OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subida OK?": {
      "main": [
        [
          {
            "node": "Telegram Exito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Es SKIP?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es SKIP?": {
      "main": [
        [
          {
            "node": "Ignorado (skip)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento con grabacion?": {
      "main": [
        [
          {
            "node": "Execute Command: subir_yt_grabacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento sin grabacion (ignorado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota"
  }
}
